@model IEnumerable<PL_MVC.Models.Album>


@foreach (var item in Model)
{

    <div class="item">
        <a href="@Url.Action("GetPhotoOfAlbum", "Album", new { idAlbum = item.IDAlbum }) ">@Html.DisplayFor(modelItem => item.Name)</a>
    </div>
}
