@model IEnumerable<PL_MVC.Models.ProfileView>
<table class="table">
    <tr>
        @foreach (var item in Model)
        {
            <th>
                <a href="@Url.Action("GetAlbumView", "Album", new { idAlbum = item.IdAlbum }) ">@Html.DisplayFor(modelItem => item.name)</a>
            </th>
        }
    </tr>
    <tr>
        @foreach (var item in Model)
        {
            <th>
                <a href="@Url.Action("GetAlbumView", "Album", new { idAlbum = item.IdAlbum }) ">
                    <img src="@Url.Action("GetPhoto", "File", new { item.photo.IDPhoto })" class="img-polaroid size" />
                </a>
            </th>
        }
    </tr>
</table>