@model PL_MVC.Models.User
@{
    ViewBag.Title = "Upload";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
<div class="container content main">
    <h2>Upload</h2>

    @using (@Html.BeginForm("Upload", "File", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" class="file" name="uploaded" />
        <p></p>
        <p>Title:</p>
        <input type="text" name="Title"/>
        <p>Specification:</p>
        <textarea rows="5" cols="30"  name="spetification"></textarea>
        <p>Catigory:</p>
        <select name="Category" id="category">
            <option>Astrophotography</option>
            <option>High key</option>
            <option>Documentary photography</option>
            <option>Concept photography</option>
            <option>Genre Art</option>
            <option>Glamour photography</option>
            <option>Macro photography</option>
            <option>Night photography</option>
            <option>Monochrome photography</option>
            <option>Panorama</option>
            <option>Cats</option>
        </select>
        <p/>
        <div>
            <span>Album:</span>
            <select name="AlbumName">
                @foreach (var item in @Model.GetAllAlbumsForUser())
                {
                    <option>@item.Name </option>
                }
            </select>
        </div>
        <p></p>
        <button type="submit">Send!</button>

    }
</div>