
@{
    ViewBag.Title = "Upload";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
<div class="container content">
    <h2>Upload</h2>

@using (@Html.BeginForm("Upload", "File", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" class="file" name="uploaded" />
    <button type="submit">Send!</button>
}</div>