body {
    background-image: url('../content/Background.png');
    background-attachment: fixed;
    background-size: cover;
    font-family: buxton sketch;
    font-size: 2.5vh;
}

.container {
    background-image: url('../content/List.png');
    background-size: cover;
    border-radius: 10px;
}

@media all and (min-width:769px) {
    .container {
        margin-top: 5vh;
        height: 90vh;
    }

    .registration-info {
        height: 81vh;
    }
}

@media all and (max-width:768px) {
    .container {
        margin-top: 0;
        height: 100vh;
    }

    .registration-info {
        height: 91vh;
    }
}

.cap {
    border-radius: 10px;
    background-color: rgba(60, 60, 60, 0.2);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.cap-cell {
    height: 8vh;
}

.logo-container {
    padding-top: 1vh;
    padding-bottom: 1.3vh;
}

.logo {
    max-width: 100%;
    max-height: 100%;
}

.content {
    margin-top: 0.7vh;
}

.registration-info {
    overflow:auto;
    border-radius: 10px;
    background-color: rgba(60, 60, 60, 0.2);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.registration-level {
    padding-top: 0.6vh;
}

.registration-input {
    display:block;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    margin: 5px 0 5px 0;
}

.star {
    color:red;
}

.prompt {
    font-size:1.7vh;
}

form {
    margin: 2vh 0 2vh 0;
}