@model PL_MVC.Models.Album
@using PL_MVC.Controllers;
@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}



    <div class="container content main">
        <h2>Create new album</h2>    
         @using (Html.BeginForm("Add", "Album", FormMethod.Get))
         {
            <div id="newlabel">
                Title:   
               <input name="Name" value="@(Model == null ? "" : "Model.Name")" type="text">                            
</div>
<button name="Add">Ok</button>
    }       
       <!-- <label>Model.IDUser</label>--><!--Не понятно, как передать юзер айди-->
        </div>
