@model PL_MVC.Models.Album
@using PL_MVC.Controllers;
@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
<div class="preference">@ViewBag.Prf</div>


    <div class="content main">
        <h2>Create new album</h2>    
         @using (Html.BeginForm("Add", "Album", FormMethod.Get))
         {
             <div class="margin">
            <div id="newlabel">
                Title:</div>
                <div>   
               <input name="Name" value="@(Model == null ? "" : "Model.Name")" type="text">                            
</div>
<button name="Add">Create</button>
                 </div>
    }       
       <!-- <label>Model.IDUser</label>--><!--Не понятно, как передать юзер айди-->
        </div>
