@model PL_MVC.Models.Album
@using PL_MVC.Controllers;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>    
         @using (Html.BeginForm("Add", "Album", FormMethod.Get))
         {
            <div id="newlabel">
                Укажите имя альбома
               <input name="Name" value="@(Model == null ? "" : "Model.Name")">                            
</div>
<button name="Add">Принять</button>
    }       
       <!-- <label>Model.IDUser</label>--><!--Не понятно, как передать юзер айди-->
        </div>
</body>
</html>
