@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
@using (Html.BeginForm("News", "News", FormMethod.Get))
{
    <div class="container content user-page" id="Category">
        @*<select name="Category" class="Onemore" id="Category">
            <option>Политика</option>
            <option>Спорт</option>
            <option>Наука</option>
            <option>Культура</option>
        </select>*@
        
        <div id="Hobbies">
        <input type="checkbox" name="politic" value="Политика"/> Политика
        <input type="checkbox" name="sport" value="Спорт" /> Спорт
        <input type="checkbox" name="sience" value="Наука" /> Наука
        <input type="checkbox" name="calture" value="Культура" /> Культура
            <button type="submit">Показать</button>
            </div>
    </div>
<div class="row main">
    <div class="masonry">
        @Html.Action("PartialPhoto", "News")
    </div>
</div>
}
