@font-face {
    font-family: 'BuxtonSketch';
    src: url('../fonts/BuxtonSketch.ttf') format('truetype');
}
#users p{
	margin-top: 2vh;
}
#pages p{
	margin-left: 2vw;
	margin-right: 1vw;
	margin-top: 1vh;
    margin-bottom:1vh;
	vertical-align: top;
}
#pages .btn{
	margin-top: 0;
	margin-bottom: 1vh;
}
#pages .patterns{
	padding-left: 2vw;
	background-color: white;
}
#users{
	overflow-y:scroll;
	background-color: #E3CEF6; 
}
#pages{
	overflow-y:scroll;
	background-color: #E3CEF6; 
}
.open .dropdown-toggle.btn-primary{
	background-color:  #9E80A6;
	border-color: #7B4E89;
}
.btn-primary:hover{
	background-color:  #9E80A6;
	border-color: #7B4E89;
}
.btn-primary:active{
	background-color:  #9E80A6;
	border-color: #7B4E89;
}
.btn-primary.active{
	background-color:  #9E80A6;
	border-color: #7B4E89;
}
.btn-primary:focus{
	background-color:  #9E80A6;
	border-color: #7B4E89;
}
.bg.bg {
    background-image: url('Photo/Background.png');
}
.bg.bg1 {
    background-image: url('Photo/symphony.png');
}
.bg.bg2 {
    background-image: url('Photo/skulls.png');
}
.bg.bg3 {
    background-image: url('Photo/pink_rice.png');
}
.bg.bg4 {
    background-image: url('Photo/restaurant_icons.png');
}
.bg.bg5 {
    background-image: url('Photo/congruent_pentagon.png');
}
a:hover{
	text-decoration: none;
	color:#7B4E89;
}
a:after{
	text-decoration: none;
	color:#7B4E89;
}
.main{
	margin:0;
    background-color:#eff4f6;
	background-repeat: no-repeat;
	height: 86vh;
    box-shadow: 0 0 1em rgba(0,0,0,0.4);
}
.font{
	font-family: buxton sketch;
	font-size: 2.5vh;
}
.two{
	height: 86vh;
	padding-top: 5vh; 
}
.point{
	background-color: #ECCEF5;
	margin-top: 1vh;
	margin-bottom: 1vh;
	margin-left: 0;
	text-align: center;
	cursor: pointer;
}
.for-button{
	padding-left: 5vw;
	padding-right: 5vw;
	padding-top: 5vh;
	padding-bottom: 5vh;
}
.container{
	margin-top: 7vh;
	margin-bottom: 7vh;
}
.btn-primary{
	 background-color:  #9E80A6;
	 border-color: #7B4E89;
}
.padding-left{
	padding-left: 5vw;
}
.padding-right{
	padding-right: 2vw;
}
.for-search{
	margin-top: 2vh;
	width: 15vw;
}
.inline{
	display: inline-block;
}
.padding{
	padding-top: 10vh;
}
.btn{
	margin-top: 1vh;
}
.col-xs-10{
	width: 100%;
}
.backgrounds{
	overflow-y:scroll;
	overflow-x: hidden;
	height: 25vh; 
	border: 0.1em solid #7B4E89;
	margin-bottom: 1vh;
	padding: 1vh;
}
.bg{
	width: 13vw;
	height: 10vh;
	cursor: pointer;
	border-radius: 0.5em;
	display: inline-block;
}
.test{
	background-color: white;
    padding: 0.5vh 0 0.5vh 0;
    border-radius: 0.5em;
    margin-bottom:1vh;
    text-align:center;
}
select[multiple], select[size]{
	margin-top: 2vh;
	margin-bottom: 2vh;
	height: 40vh;
	width: 15vw;
}
body {
    background-image: url('Photo/congruent_pentagon.png');
}
a{
	text-decoration: none;
	color:#7B4E89;
}