/*@font-face {
    font-family: 'BuxtonSketch';
    src: url('../fonts/BuxtonSketch.ttf') format('truetype');
}

@media all and (min-width:769px) {
    .container {
        margin-top: 5vh;
        height: 90vh;
    }

    .registration-info {
        height: 81vh;
    }

    .text-input {
    width:20vw;
}
}

@media all and (max-width:768px) {
    .container {
        margin-top: 0;
        height: 100vh;
    }

    .registration-info {
        height: 91vh;
    }

    .text-input {
        width:50vw;
    }
}

.logo-container {
    padding-top: 1vh;
    padding-bottom: 1.3vh;
}

.logo {
    max-width: 100%;
    max-height: 100%;
}

.registration-info {
    overflow:auto;
    border-radius: 10px;
    background-color: rgba(60, 60, 60, 0.2);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.registration-level {
    padding-top: 0.6vh;
}

.registration-input {
    display:block;
    font-size: 2.5vh;
}

.star {
    color:#FE1010;
}

.prompt {
    font-size:1.7vh;
}

form {
    margin: 2vh 0 2vh 0;
}

button {
    margin: 5px 0 5px 0;
}

body {
    font-size: 2.5vh;
}*/

body {
    background-image: url(../Content/Photo/7.jpg);
    background-size:cover;
    background-position:right;
    background-attachment:fixed;
    color:white;
}
.star{
    color:red;
}
#header h2{
    text-align:center;
    color:white;
}
.registration-level{
    margin:10px;
    text-shadow:20px;
}
.container-back {
    background-color:rgba(210, 184, 204, 0.29);
    border-radius: 0 0 5px 5px;
}