
body {
    height: 100%; 
    position:absolute;
  min-width: 291px;
}

.container-fluid{
  margin-left:0px;
  padding: 0px;
}
.wrap {
    position: relative;
    height: auto;
    width:100%;
    padding-left: 0px;
    padding-right: 0px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    min-height: 480px;
    overflow: hidden;
}

.carousel{           
     position: relative;     
}


#carousel{
    position: relative;
    height: 100%;
}

.slide{
     position: relative;    
     height:auto;        
}


.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    line-height: 1;
    height: 100%;
    width: auto;
}


.carousel-inner{

position: relative;
  width: 100%;
  height: 70%;
  overflow: hidden;  
}

.medium-part {
    position: relative;
    height: 450px;

}

/*.carousel-caption{
   
    border: 3px dashed  #312a22;
    height:20px;
    width:100%;
    z-index:8;
    margin-bottom: 5%;
}*/


.white {
position: absolute; 
width: 50%;
height: 50%;
z-index: 7;
margin: auto;
top: 0; left: 33%; bottom: 10%; right: 33%;
resize: both;
}

.medium-part{
    background-color: #282828;
    position:relative;
    height: 50%;
    /*border: 4px dashed gold;*/
    overflow: hidden;
    
}

.medium-part > h2{
    text-align:center;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     
}

#about-us{
    text-align:center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150%;
    color: white;
    background-color: #282828;
    border: 0px;
    
}

.t {
    position:relative;
    background-color: white;
    width: 100%;
    height:auto;
    color: black;   
}


.photo-of-day {
    margin:0px;
}

.photo-for-score {
     margin: 0px;
     background-color: #282828;
     position:absolute;
     right:0%;
     height: 100%;
}

/*.row{
    background-color: #282828;   
}*/

h3{
    position: relative;
   margin-bottom: 15%;  
}

.metka{
    margin-bottom:3%;
    background-color: #282828;
}

footer{
    position: absolute;
    height: 30%;
    width:100%;
    /*border: 3px dashed purple;*/
    background-color: #282828;
}

nav{
    position:absolute;
}
/* 1-е медиа не работает, но может пригодиться*/
@media (max-width:600px){
    .wrap{
        height:20%;
    }
    #carousel{
        height: 100%;
    }
    .carousel{
         height: 100%;
    }
    .slide{
         height: 100%;
    }
}

/*
@media (max-width: 600px){
#carousel {
    height: 50%;
    position: relative;
    position: absolute;
}*/



/* Зона меню*/

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}

.menu{
    background-color: #904684;
    border-color: #904684;
     position: absolute;
     top: 0px;
     width: 100%;
    
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #EF3038;
 
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 15px;
}
.navbar-inverse .navbar-brand {
    color: #f2dede;
}

.navbar-inverse .navbar-nav > li > a {
    color: #f2dede;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #924E7D;
}

.navbar-inverse .navbar-toggle {
    border-color: white;
}

.navbar {
    z-index: 500;
}

.navbar-brand{
  margin-left: 4%;
}
.navbar-toggle{
  margin-right: 4%;
}

.carousel .slide .carousel-inner{
    height: 100%;
    width: 100%;
    
}

@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}


    /*Страница 600 и до px*/
    
    
    @media (max-width:600px){
    
/*.container-fluid{
  height:70%;
}
.wrap{
  height:20%;
}
    .carousel-inner {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

}*/

@media (max-width: 767px){
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #f2dede;
  }
}




    @media (max-width:600px){
    
.container-fluid{
  height:auto;
}
.wrap{
  height:100%;
}
    .carousel-inner {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

}

@media (max-width: 767px){
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #f2dede;
  }
}



