.navbar {
            background-color: #904684;
            border-color:#904684;
            text-align:center;
        }
/*.image-colon{
    width: 90%;
    height:auto;
    padding-top:2vh;
}*/
.image-head{
    width:54px;
    height:54px;
}
.image-xs{
    width: 120px;
    height:120px;
}
.forcolons {
   border:1px solid gray;
    height: 45vh;
text-align:center;
}
.scroll-x{
  overflow-x: scroll;
}

.row-list{
    padding-left:5vw;
  	padding-right:5vw;
}
.album-div
{
    height:80%;
    padding-top: 20px;
}
.size{
    width:15vw;
    border-radius: 0 7px 7px 0;
    border-color:white;
    border: 3px outset;
    /*border-right: 7px; border-bottom:7px;*/
}