.navbar {
            background-color: #904684;
            border-color:#904684;
            text-align:center;
        }
/*.image-colon{
    width: 90%;
    height:auto;
    padding-top:2vh;
}*/
.image-head{
    width:54px;
    height:54px;
}
.image-xs{
    width: 120px;
    height:120px;
}

.scroll-x{
  overflow-x: scroll;
}

.row-list{
    padding-left:5vw;
  	padding-right:5vw;
}
.album-div
{
    height:80%;
    padding-top: 20px;
}
.size{
    width:15em;
    border-radius: 0 7px 7px 0;
    border-color:white;
    /*border-right: 7px; border-bottom:7px;*/
}
.avatar{
}
/*.details{
    visibility:hidden;
    top:40vh;
    position:absolute;
    margin-left:auto;
    margin-right:auto;
    width:90%;
}
.avatar:hover + .details{
    visibility:visible;
}*/