body {
         /*padding-top: 50px;*/ /*из-за этой строчке на мобильных версиях был отступ*/
        background-color: #fafafa;
     }

.navbar {
            background-color: #904684;
            border-color:#904684;
            text-align:center;
        }
input[type="search"]{
    width:200px;
    margin-left:auto;
    margin-right:auto;
}

h3 {
        text-decoration: underline;
        
    color:#603259;
   }

h1, h2, h4 {
                
    color:#603259;
           }
.image-head{
    width: 48px;
    height:48px;
}
.content{
    margin-top:60px;
}
.user{
    text-align:center;
    background-color:gray;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    height: 50.5vh;
    overflow-y:scroll;
}
.user-name{
    text-align:center;
}
.avatar{
    max-height: 30vh;
    max-width: 100%;
    border-radius: 5px;
}
.album-name{
    text-align:center;
}
.albums img{
    height:15vh;
    border-radius: 5px;
}
.main{
    padding-top:60px;
    padding-bottom:10px;
}
.main img{
    width:100%;
    padding-bottom:10px;
}
.forcolons {
    border:1px solid gray;
    margin-top:35px;
    border-radius:3px 3px;
    height: 50.5vh;
}
.row-list{
    padding-left:5vw;
  	padding-right:5vw;
}
.height{
    height:30vh;
}
footer{
    text-align:center;
    margin-top:10px;
}
.photo-info{
    padding-top:5vh;
    padding-left:5vw;
}
.to-center{
    text-align:center;
}
.to-center img{
    max-width:100%;
}
/*Masonry*/
.masonry {
    /*margin: 1.5em 0;*/
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    font-size: .85em;
    text-align:center;
}

@media only screen and (min-width: 400px) {
    .masonry {
        -moz-column-count: 2;
        /*-webkit-column-count: 2;*/
        column-count: 2;
    }
}

@media only screen and (min-width: 700px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media only screen and (min-width: 900px) {
    .masonry {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

@media only screen and (min-width: 1100px) {
    .masonry {
        -moz-column-count: 5;
        -webkit-column-count: 5;
        column-count: 5;
    }
}
.likes{
    display:flex;
}