body {
    background-image: url('content/Background.png');
}

.container {
    margin-top: 5vh;
    background-image: url('content/List.png');
    height: 86vh;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); 
}

.cap {
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: rgba(70, 0, 70, 0.1);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.content {
    margin-top: 0.7vh;
}

.cap-cell {
    height: 8vh;
}

.content-padding{
    padding-left:auto;
    padding-right: auto;
}

.logo {
    margin: 0.5vh 0 0 0;
    max-width: 100%;
    max-height: 100%;
}

.content-cell {
    height: 77.5vh;
    border-radius: 10px;
    border-top-right-radius:0;
    border-top-left-radius:0;
}
.scroll{
    overflow-y:scroll;
}

.content-cell-flank-left {
    background-color: rgba(70, 0, 70, 0.1);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    position: relative;
}
.content-cell-flank-left:focus + .btn-show{
    visibility: visible;
    left:30px;
}
.content-cell-flank-right {
    background-color: rgba(70, 0, 70, 0.1);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.search-form {
    margin: 1.3vh 0 0 0;
}

.user-name {
    height: 7vh;
    /*font-family: Aharoni;*/
    font-family:'Buxton Sketch';
    font-size: 6vh;
    color: blueviolet;
    text-align: center;
}

.status {
    height: auto;
    /*font-family: Aharoni;*/
    font-family:'Buxton Sketch';
    font-size: 3vh;
    color: mediumvioletred;
    text-align: center;
}

.user-main-photo {
    padding: 1vh;
    height: 40vh;
    line-height: 30vh;
    text-align: center;
}

    .user-main-photo img {
        max-height: 100%;
        max-width: 100%;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }

.about-user {
    padding-left: 2vh;
    height: 4vh;
    /*font-family: Aharoni;*/
    font-family:'Buxton Sketch';
    font-size: 3vh;
    color: darkblue;
    /*text-align: left;*/
    text-align:center;
}

.about-user-text {
    padding-left: 2vh;
    height: 5vh;
    /*font-family: Aharoni;*/
    font-family:'Buxton Sketch';
    font-size: 2.5vh;
    color: blue;
    /*text-align: left;*/
    text-align:center;
}

.albums-list {
    height: 9vh;
    padding: 1vh;
}

.albums {
    height: 100%;
    /*font-family: Aharoni;*/
    font-family:'Buxton Sketch';
    font-size: 5vh;
    color: blueviolet;
    text-align: right;
}

.add-album {
    padding: 0;
    text-align: right;
    height: 100%;
}

    /*.add-album img {
        height: 100%;
    }*/

.album-cover {
    height: 17vh;
    padding: 1vh;
    text-align: center;
}

    .album-cover img {
        max-height: 100%;
    }

.album-name {
    height: 4vh;
    font-family: Aharoni;
    font-size: 3vh;
    text-align: center;
}

.photo {
    text-align: center;
    /*height: 25vh;*/
    padding: 1vh;
}

    .photo img {
        height: 100%;
        width: 100%;
    }

    .size{
        height:14vh;
    }
    a{
        font-family:'Buxton Sketch';
    }
    a, a:hover, a:active, a:focus{
        text-decoration:none;
        cursor:pointer;
    }
    .search-margin-right{
        margin-right:1vw;
    }
    




.item {
  width: 10vw;
  height: 10vw;

  float: left;

  background-image: url(content/1-2.jpg);
  background-size:cover;
  border: 2px solid white;
  border-radius: 5px;
  margin:4px;
}
.item1 {
  width: 10vw;
  height: 10vw;

  float: left;

  background-image: url(content/3.jpg);
  background-size:cover;
  border: 2px solid white;
  border-radius: 5px;
  margin:4px;
}
.item2 {
  width: 10vw;
  height: 10vw;

  float: left;

  background-image: url(content/4.jpg);
  background-size:cover;
  border: 2px solid white;
  border-radius: 5px;
  margin:4px;
}
.item:hover {
    opacity: 0.9;
}
.item1:hover {
    opacity: 0.9;
}
.item2:hover {
    opacity: 0.9;
}


.btn-hide{
    margin-top: 4vh;
}
.btn-show-left{
    margin-top: 3vh;
    /*visibility: hidden;*/
    position: absolute;
    height: 1vh;
    width: 2vw;
    font-size: 1vh;
    /*background-color: blueviolet;*/
    border: 1vw solid transparent; 
    border-left: 1vw solid blueviolet;
}
.btn-show-right{
    margin-top: 3vh;
    /*visibility: hidden;*/
    position: absolute;
    height: 1vh;
    width: 2vw;
    font-size: 1vh;
    /*background-color: blueviolet;*/
    border: 1vw solid transparent; 
    border-right: 1vw solid blueviolet;
}
.modal-content{
    width: 52.5em;
}
img{
    max-width: 700px;
}
.comment{
    margin-top: 3vh;
    height: 10vh;
    width: 20vw;
    font-family: buxton Sketch;
    font-size: 2.5vh;
    max-width: 700px;
}