body {
    background-image: url('../Background.png');
    background-attachment: fixed;
    background-size: cover;
    font-family: BuxtonSketch;
}

.container {
    background-image: url('../List.png');
    background-size: cover;
    border-radius: 10px;
}
.cap {
    border-radius: 10px;
    background-color: rgba(60, 60, 60, 0.2);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.cap-cell {
    height: 8vh;
}

.content {
    margin-top: 0.7vh;
}