@foreach (var item in @Model.GetAllAlbumsForUser())
{
    <div class="col-sm-6 col-xs-6 album-div">
        <div class="albums">
            <img class="image-ava hidden-xs" src="/Content/Photo/forProfile.jpg">
            <img class="image-xs visible-xs" src="/Content/Photo/forProfile.jpg">
            <div class="album-name row"> <a href="@Url.Action("GetAlbum", "Album", new { item.IDAlbum})"><h2>@item.Name</h2> </a></div>
            <h2> </h2>
        </div>
        </div>
        }
