@model IEnumerable<PL_MVC.Models.Photo>
@*@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}*@
@section styles{
    <link href="~/Content/profile-and-search.css" rel="stylesheet" />
}

        @foreach (var item in Model)
            {
            <div class="item">
                <a href="@Url.Action("GetPhotoView", "File", new { item.IDPhoto })">
                    <img style="width:300px" src="@Url.Action("GetPhoto", "File", new { item.IDPhoto })" />
                </a>
            </div>
        }