@model IEnumerable<PL_MVC.Models.Photo>
@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
@section styles{
    <link href="~/Content/profile-and-search.css" rel="stylesheet" />
}

<div class="container">
    <div class="content">
        <h2>Advanced Search</h2>
        @using (@Html.BeginForm())
        {
            <div class="form-group">
                <input class="form-control" type="search" placeholder="Title" name="name" />
            </div>
            <div class="form-group">
                <input class="form-control" type="search" placeholder="User name" />
            </div>
            <div class="form-group">
                <input class="form-control" type="search" placeholder="Key words" name="fragment" />
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Register
                    </label>
                </div>
            </div>
            <h4>Preferences</h4>
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Art
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Sport
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" /> Politics
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" /> Science
                </label>
            </div>
            <div class="row row-btn-center">
                <button type="submit">Search!</button>
            </div>
        }<h2>Results</h2>
        @foreach (var item in Model)
            {
            <div class="item">
                <a href="@Url.Action("GetPhotoView", "File", new { item.IDPhoto })">
                    <img style="width:300px" src="@Url.Action("GetPhoto", "File", new { item.IDPhoto })" />
                </a>
            </div>
        }
    </div>

</div>