<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profile</title>

    <link href="Content/Styles/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/Styles/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="Content/Styles/profile-and-search.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="Main">FUFFY</a>
            </div>
            <div class="navbar-left">
                <ul class="nav navbar-nav">
                    <li><a href="#people">People</a></li>
                </ul>
            </div>
            <div class="navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="#Albums">Albums</a></li>
                    <li><a href="#upload">Upload</a></li>
                    <li><a href="#upload">LogOff</a></li>
                    <li><img class="profile-photo-mini" src="Content/Images/camera.png" />
                </ul>
                <form class="navbar-form navbar-right">
                    <input type="text" class="form-control" placeholder="Search...">
                </form>
            </div>
        </div>
    </div>
    <div class="container content" id="search">
        <h2>Advanced Search</h2>
        <form>
            <div class="row">
                <input type="search" placeholder="Title" />
            </div>
            <div class="row">
                <input type="search" placeholder="User name" />
            </div>
            <div class="row">
                <input type="search" placeholder="Key words" />
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Register
                </label>
            </div>
            <h4>Preferences</h4>
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Art
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Sport
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" /> Politics
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" /> Science
                </label>
            </div>
            <div class="row row-btn-center">
                <button class="btn" type="submit">Send</button>
            </div>
        </form>

    </div>
    <script src="Scripts/jquery-2.2.0.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/profile.js"></script>

    <script src="Scripts/bootstrap.min.js"></script>

</body>
</html>
