
@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>
<form method="post">
    <input type="text" name="name" />
    <input type="text" name="fragment" />
    <a href="@Url.Action("Search","Search")" ></a>
</form>
