@model IEnumerable<PL_MVC.Models.User>
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
@section adminPanelStyles{
    <link href="~/Content/admin-panel.css" rel="stylesheet" />
}

<div class="main container admin">
    <div class="preference">@ViewBag.Prf</div>
    @using (Html.BeginForm("Operation", "Admin", new { enctype = "multipart/form-data" }))
    {
        <h3>Active</h3>
        <div class="row">
            <div class="col-md-5 col-md-offset-1">

                <input type="text" class="form-control for-search" placeholder="Поиск" />
                <form>
                    <select size="100" name="Name" class="select" id="Name" typeof=string>
                        @foreach (var item in Model)
                        {
                            if (item.RoleId != 3)
                            {
                                <option>@item.Name</option>
                            }
                        }
                    </select>
                </form>
            </div>
            <div class="col-md-5 col-md-offset-1 for-button">
                <button class="btn btn-danger" value="Block" typeof="string" name="action" type="submit">Заблокировать</button>
                <button class="btn btn-danger" value="Moderator" typeof="string" name="action" type="submit">Назначить модератором</button>
                <button class="btn btn-danger" value="Admin" typeof="string" name="action" type="submit">Назначить админом</button>
                <br />
            </div>
        </div>
    }
    <hr />
    @using (Html.BeginForm("Operation", "Admin", new { enctype = "multipart/form-data" }))
    {
        <h3>Blocked users</h3>
        <div class="row">
            <div class="col-md-5 col-md-offset-1">

                <input type="text" class="form-control for-search" placeholder="Поиск" />
                <form>
                    <select size="100" name="Name" class="select" id="Name" typeof=string>
                        @foreach (var item in Model)
                        {
                            if (item.RoleId == 3)
                            {
                                <option>@item.Name</option>
                            }
                        }
                    </select>
                </form>
            </div>
            <div class="col-md-5 padding">
                <button class="btn btn-success" value="UnBlock" typeof="string" name="action" type="submit">Разблокировать</button>

            </div>
        </div>
    }
    <hr />
    @using (Html.BeginForm("Operation", "Admin", new { enctype = "multipart/form-data" }))
    {
        <h3>All users</h3>
        <div class="row">
            <div class="col-md-5 col-md-offset-1">

                <input type="text" class="form-control for-search" placeholder="Поиск" />
                <form>
                    <select size="100" name="Name" class="select" id="Name" typeof=string>

                        @foreach (var item in Model)
                        {
                            <option>@item.Name</option>
                        }
                    </select>
                </form>
            </div>
            <div class="col-md-5 for-button">
                <button class="btn btn-danger" value="Block" typeof="string" name="action" type="submit">Заблокировать</button>
                <button class="btn btn-success" value="UnBlock" typeof="string" name="action" type="submit">Разблокировать</button>
                <button class="btn btn-danger" value="Delete" type="submit" typeof="string" name="action">Удалить</button>
            </div>
        </div>
    }
</div>
