@model PL_MVC.Models.User
@using PL_MVC.Models
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
@section styleForProfile{
    <link href="~/Content/StyleSheet.css" rel="stylesheet" />
}
@section masonry{
    <script src="~/Scripts/masonry.pkgd.min.js"></script>
}
<div class="container">
    <div class="row">
        <div class="col-sm-4 forcolons">
            <div class="row">
                <div class="col-sm-4">
                    <h2>@Model.Name</h2>
                </div>
                <div class="col-sm-1">
                    <img src="">        <!--здесь желатьльно поставить переход на редактирование-->
                </div>
            </div><div class="row">
                <div class="col-sm-12">
                    <h4>Status:</h4>
                    <h4>@Model.Status</h4>
                </div>
            </div>
            <div class="row" style="height:50%">
                <img class="avatar" src="/Content/Photo/forProfile.jpg">
            </div>

        </div>

        <div class="col-sm-8 forcolons">
            <div class="row">
                <h2>Albums:</h2>
            </div>
            <div class="row">
                <h1> </h1>
            </div>
            <div id="carousele" class="carousel slide" style="height:55%;padding-top: 20px" data-ride="carousel" data-interval="20000">
                <div class="carousel-inner" style="height:100%">
                    <div class="item active" style="height:100%">
                        <div class="row-list" style="height:100%">
                       @Html.Action("GetAlbum", "Album", new { id=Model.idUser })
                      </div>
                    </div>
                </div>

                <a class="left carousel-control" href="#carousele" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousele" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>

            </div>
        </div>
    </div>
    <div class="row main">
        <div class="masonry">
            @Html.Action("PartialPhoto", "File", new {id=Model.idUser})
            @*@Html.Partial("PartialPhoto")*@
        </div>
    </div>

</div>