<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>FUFFY</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">  
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">FUFFY</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#about">People</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#about">Albums</a></li>
                    <li><a href="#contact">Upload</a></li>
                    <li><a href="#about">LogOff</a></li>
                    <li><img class="image-head" src="Content/Image/camera.png"></li>
                    <li>
                        <form class="navbar-form">
                            <input type="text" class="form-control" placeholder="Search...">
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row content">
            <div class="col-sm-4 forcolons">
                <div class="row">
                    <div class="col-sm-4">
                        <h1><p>Nick</p></h1>
                    </div>
                    <div class="col-sm-1">
                        <img src="">
                    </div>
                </div>
                <img class="image-colon" src="Content/Image/camera.png">
                <h1>Status:</h1>
                <h2><p>I want to dance, I want to win.</p></h2>
            </div>

            <div class="col-sm-8 forcolons">
                <div class="row">
                    <h1><p>Albums:</p></h1>
                </div>
                <div class="row">
                    <h1><p></p></h1>
                </div>
                <div id="carousele" class="carousel slide" data-ride="carousel" data-interval="20000">  
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row-list">
                                <div class="col-sm-6 col-xs-6">
                                    <img class="image-colon" src="Content/Image/camera.png">
                                    <a href="#"><h2>Name albom</h2></a>
                                    <h2><p> </p></h2>
                                </div>
                                <div class="col-sm-6 col-xs-6">
                                    <img class="image-colon" src="Content/Image/camera.png">
                                    <a href="#"><h2>Name albom</h2></a>
                                    <h2><p> </p></h2>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row-list">
                                <div class="col-sm-6 col-xs-6">
                                    <img class="image-colon" src="Content/Image/camera.png">
                                    <a href="#"><h2>Name albom</h2></a>
                                    <h2><p> </p></h2>
                                </div>
                                <div class="col-sm-6 col-xs-6">
                                    <img class="image-colon" src="Content/Image/camera.png">
                                    <a href="#"><h2>Name albom</h2></a>
                                    <h2><p> </p></h2>
                                </div>
                            </div>
                        </div>
                    </div>    
                   
                    <a class="left carousel-control" href="#carousele" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousele" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>

                </div>

                <!--<div class="row row-list">
                  <div class="">
                    <img class="image-colon" src="Content/Image/camera.png">
                    <a href="#"><h2>Name albom</h2></a>
                  </div>
                  <div class="">
                    <img class="image-colon" src="Content/Image/camera.png">
                    <a href="#"><h2>Other</h2></a>
                  </div>
                  <div class="">
                    <img class="image-colon" src="Content/Image/camera.png">
                    <a href="#"><h2>Name albom</h2></a>
                  </div>
                  <div class="">
                    <img class="image-colon" src="Content/Image/camera.png">
                    <a href="#"><h2>Name albom</h2></a>
                  </div>
                </div>-->
            </div>
        </div>
        <div class="row">
            <div class="scroll col-sm-12 forcentercolons">
                <div class="row">
                    <div class="col-sm-4 col-xs-6">
                        <img class="image-colon" src="Content/Image/camera.png">
                    </div>
                    <div class="col-sm-4 col-xs-6">
                        <img class="image-colon" src="Content/Image/camera.png">
                    </div>
                    <div class="col-sm-4 col-xs-6">
                        <img class="image-colon" src="Content/Image/camera.png">
                    </div>
                    <div class="col-sm-4 col-xs-6">
                        <img class="image-colon" src="Content/Image/camera.png">
                    </div>
                    <div class="col-sm-4 col-xs-6">
                        <img class="image-colon" src="Content/Image/camera.png">
                    </div>
                </div>
            </div>
        </div>

    </div>


    <script src="Scripts/jquery-2.2.2.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>       
</body>
</html>